
<h1>Hola mundo, este es mi blog</h1>
<%nombren = ["Uno","Dos","Tres","Cuatro","Cinco"]%>
<%[1,2,3,4,5].each do |numero|%>
  <p>Numero: <%=nombren[numero-1]%></p>
<%end%>
<%nombre = "Kevin"%>
<h2>Mi nombre es: <%="#{nombre} Alvarado" %> </h2>
