
<h1>Hola mundo, este es mi blog</h1>
<% if user_signed_in?%>
  <p> Correo del usuario: <%= current_user.email %></p>
  <p> Clave encriptada del usuario: <%= current_user.encrypted_password %></p>
<%end%>
<% link_to "Recurso con POST" ,"welcome/index", method: :post %>
<%nombren = ["Uno","Dos","Tres","Cuatro","Cinco"]%>
<!-- Ciclo For en rails  -->
<%[1,2,3,4,5].each do |numero|%>
  <p>Numero: <%=nombren[numero-1]%></p>
<%end%>
<%nombre = "Kevin"; apodo = "PouD"%>
<h2>Mi nombre es: <%="#{nombre} Alvarado "+ apodo +""%> </h2>

<%

%>
